body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainGrid {
    display: flex;
    max-width: 960px;
}

.row {
    display: flex;
    flex-direction: column;
}

.square {
    flex: 1;
    min-width: 20px;
    min-height: 20px;
    border: 1px solid gray;
    margin: 2px;
}

.coloured {
    flex: 1;
    min-width: 20px;
    min-height: 20px;
    border: 1px solid gray;
    margin: 2px;    
    background-color: darkcyan;
}